localhost {
    root ./web
    file_server
}
localhost/api/* {
    reverse_proxy /api/* localhost:84
}

dev.wegame.icu {
    tls me@xiao-jin.xyz
    root ./web
    file_server
}
dev.wegame.icu/api/* {
    reverse_proxy /api/* localhost:84
}